@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 767px) {
    .tooltip-text {
        width: auto;
        bottom: 150%;
    }
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 55%;
    word-wrap: break-word;
}

.chat-message.sender {
    background-color: #cce5ff;
    float: right;
    clear: both;
    text-align: right;
}

.chat-message.receiver {
    background-color: #f8f9fa;
    float: left;
    clear: both;
}


